html,body{
    margin:0px;
    padding:0px;
}
.input {
    width:90%;
    display:block;
    padding:12px 20px;
    margin:8px 2px;
    border:1px solid ;
    border-radius:4px;
}
.btn {
    background-color:#4CAF50;
    color:white;
    padding:10px 16px;
    margin:8px;
    font-size:15px;
    border-radius: 30px;
}
.cols{
    padding:5px;
    border:1px solid;
    margin:0px;
}
.btn-link{
    padding:8px 14px;
    margin:10px;
    color:black;
    font-size: 15px;
}
.container-fluid{
    margin:30px;
}
.rows{
    width:100%;
    display:inline-block;
}
.column{
    width:46%;
    float: left;
    margin-left:30px;
}